html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: #070414; */
    background-color: #AAAAAA;

    cursor: url("assets/cursor.png") 32 32, none;
}

/* .easel {
    display: block;
    position: fixed;
    top: calc(env(safe-area-inset-top) * -1);
    left: 0;
    width: 100vw;
    height: calc(100dvh + env(safe-area-inset-bottom));
    background-color: #fa00fa;

    overflow: visible;
} */

canvas {
    /* display: block; */
    position: fixed;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    inset: 0;
    width: 100vw;
    height: 100dvh;
    /* min-width: 100%;
    min-height: 100%; */
    background-color: #0fAACA;
}