:root {
    interpolate-size: allow-keywords;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #070414;
    /* background-color: #AAAAAA; */

    font-family: "Courier New", Courier, monospace;
    /* color: #AAAAAA; */

    cursor: url("assets/cursor.png") 16 16, none;

    /* -webkit-user-drag: none;
    user-drag: none; */

    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100dvh;
    background-color: #070414;

    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

a {
    color: inherit;
    text-decoration: none;

    cursor: inherit;
}

hr {
    margin-left: 4%;
    margin-right: 4%;

    border: none;
    height: .04cqmax;
    background-color: #070414;
}

.highlightable {
    user-select: text;
    -webkit-user-select: text;
}



/* DYNAMIC HTML */

#overlayBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #888888AA;
    z-index: 1;

    /* Hidden */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.64s ease;
}

.page {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 92%;
    height: 92%;
    /* background-color: #444444DD; */
    background-color: #CCCCCCDD;
    z-index: 2;

    text-align: center;

    overflow: auto;

    /* Hidden */
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    transition: transform 1s cubic-bezier(0.32, 0.64, 0.32, 1), opacity 0.64s ease;
}

/* Unhidden */
#overlayBackground.active, .page.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#close, .closeBtn {
    all: unset;
    font-family: "Courier New", Courier, monospace;
    /* background-color: #070414; */
    /* color: #AAAAAA; */
    color: #070414;
    position: absolute;
    top: 4%;
    right: 5%;
    z-index: 3;
}



/* MENU */

#menu {
    position: absolute;
    bottom: 10%;
    left: 2%;
    /* background-color: #CCCCCCAA; */
    background-color: #070414DD;
    max-height: 3cqmax;
    height: 3cqmax;

    display: inline-flex;

    z-index: 10;

    transition: all .64s ease;
}

#menu.menuHidden {
    background-color: #07041444;
}

#menuButton {
    width: 3cqmax;
    height: 3cqmax;
    display: flex;
    justify-content: center;
    align-items: center;

    color:#AAAAAA;

    font-size: 2cqmax;

    transition: transform .64s ease, opacity 1.28s ease;
}

.menuButtonHidden {
    opacity: 64%;
    transform: rotate(180deg);
}

#menuContents {
    max-height: 3cqmax;
    height: 3cqmax;

    padding: 0;
    margin: 0;

    display:inline-flex;
    justify-content: flex-start;
    align-items: center;

    min-width: 0;
    overflow: hidden;
    white-space: nowrap;

    transition: max-width .64s ease, opacity 1.28s ease;
}

.menuContentsHidden {
    max-width: 0;
    opacity: 0;
    pointer-events: none;
}

.menuItem {
    margin: 0 .25cqmax;
    flex-shrink: 0;
    max-height: 3cqmax;
    height: 3cqmax;
}

#audioControls {
    display:inline-flex;
    justify-content: flex-start;
    align-items: center;
}

#playPauseBtn {
    width: 2cqmax;
    height: 2cqmax;
}

#volume {
    appearance: none;
    background: transparent;
    width: 4cqmax;

    background-image: linear-gradient(
        to right,
        #AAAAAA 0%,
        #AAAAAA var(--progress, 0%),
        #222222 var(--progress, 0%),
        #222222
    );

    height: .32cqmax;
    border-radius: .16cqmax;

    cursor: inherit;
}

#trackProgress {
    appearance: none;
    background: transparent;
    width: 10cqmax;

    background-image: linear-gradient(
        to right,
        #AAAAAA 0%,
        #AAAAAA var(--progress, 0%),
        #222222 var(--progress, 0%),
        #222222
    );

    height: .32cqmax;
    border-radius: .16cqmax;

    cursor: inherit;
}

#trackProgress::-webkit-slider-thumb, #volume::-webkit-slider-thumb {
    appearance: none;
    width: .64cqmax;
    height: 1.64cqmax;
    border-radius: .24cqmax;
    background-color: #CCCCCC;

    margin-top: -.66cqmax; /* (Track height - thumb height) / 2 to center thumb*/

    transition: background-color .32s ease, transform .32s ease, box-shadow .32s ease;
}

#trackProgress::-webkit-slider-runnable-track, #volume::-webkit-slider-runnable-track {
    height: .32cqmax;
    background: transparent;
}

#trackProgress::-moz-range-thumb, #volume::-moz-range-thumb {
    width: .64cqmax;
    height: 1.64cqmax;
    border-radius: .24cqmax;
    background-color: #CCCCCC;
    
    border: none;

    transition: background-color .32s ease, transform .32s ease, box-shadow .32s ease;
}

#trackProgress::-moz-range-track, #volume::-moz-range-track {
    background: transparent;
    height: .32cqmax;
}

#trackProgress:hover::-webkit-slider-thumb, #volume:hover::-webkit-slider-thumb {
    background-color: #EEEEEE;
    transform: scale(1.16);
    box-shadow: 0 0 .08cqmax #CCCCCC88;
}

#trackProgress:hover::-moz-range-thumb, #volume:hover::-moz-range-thumb {
    background-color: #EEEEEE;
    transform: scale(1.16);
    box-shadow: 0 0 .08cqmax #CCCCCC88;
}



/* TECH */

#contact p {
    display: inline;
}

#certs img, #events img {
    /* width: 40%;  */
    /* height: 350px; */
    margin: .32%;
    margin-top: .32%;
    margin-bottom: .32%;
    width: 48%; 
    /* height: 420px; */
    object-fit: contain;
}



/* MUSIC */

#albums {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.albumCard {
    position: relative;
    width: 40vw;
    height: 40vw;
    margin: 2%;
    padding: 0%;

    font-size: 2cqmin;

    overflow: hidden;
}

.cardTracks {
    width: 100%;
    height: 100%;
    padding: 1cqmax;

    box-sizing: border-box;
    color: #070414;
}

.cardTracks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cardTracks li {
    height: 100%;
    margin: 1cqmax;
}

.cardCover {
    position: absolute;
    inset: 0;
    z-index: 4;

    transition: transform .64s cubic-bezier(.32, 0, .16, 1), opacity .64s ease;
}

.cardCover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.albumCard.revealed .cardCover {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}


/* ART */

#photos {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

#photography {
    margin: 1%;
}

#thePics img, #theRenders img {
    /* width: 40%;  */
    /* height: 350px; */
    margin: .32%;
    margin-top: .32%;
    margin-bottom: .32%;
    width: 48%; 
    height: 420px;
    object-fit: cover;
}