html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #070414;
    /* background-color: #AAAAAA; */

    font-family: "Courier New", Courier, monospace;
    /* color: #AAAAAA; */

    cursor: url("assets/cursor.png") 32 32, none;

    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100dvh;
    background-color: #070414;

    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}



/* DYNAMIC HTML */

#overlayBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #888888AA;
    z-index: 1;

    /* Hidden */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.64s ease;
}

.page {
    position: absolute;
    top: 2%;
    left: 4%;
    width: 92%;
    height: 96%;
    background-color: #444444DD;
    z-index: 2;

    text-align: center;

    /* Hidden */
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    transition: transform 1s cubic-bezier(0.32, 0.64, 0.32, 1), opacity 0.64s ease;
}

/* Unhidden */
#overlayBackground.active, .page.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#close, .closeBtn {
    all: unset;
    font-family: "Courier New", Courier, monospace;
    /* background-color: #070414; */
    color: #AAAAAA;
    position: absolute;
    top: 4%;
    right: 5%;
    z-index: 3;
}